<mat-form-field class="example-full-width">
    <mat-label>Tipo de Cultivo</mat-label>
  <select matNativeControl required #seleccion>
    <option value="Cilantro">Cilantro</option>
    <option value="Albahaca">Albahaca</option>
    <option value="Perejil">Perejil</option>
    <option value="Manzanilla">Manzanilla</option>
  </select>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <input #name matInput placeholder="Nombre del cultivo" class="">
</mat-form-field>
<br>
<button mat-raised-button color="warn" (click)="createCultivo(name.value,seleccion.value)">Crear cultivo</button>
<app-seleccion></app-seleccion>
<ul class="list-group" hidden>
  <li class="text" *ngFor="let item of items " class="list-group-item">
    {{item.name}} {{item.tipo}} {{item.temp_min}} {{item.temp_max}} {{item.hum_max}} {{item.hum_min}}
  </li>
</ul>
